<!-- 
<div class="container mt-5 mb-5">
    <h1>Contact</h1>
    <form class="col-lg-8">
        <div class="row">
            <div class="col-lg-6 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Enter first Name">

            </div>
            <div class="col-lg-6 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Enter Last Name">

            </div>
            <div class="col-lg-12 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Enter Email Id">

            </div>
            <div class="col-lg-12 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Enter Mobile">

            </div>
            <div class="col-lg-6">
             <button class="btn btn-md btn-dark">Submit</button>

            </div>
            
            </div>
        
    </form>
</div> -->

<div class="container mt-5 d-flex justify-content-center">
    <form [formGroup]="registerForm" 
    class="w-50 p-5 border">
        <h3 class="font-weight-bold mb-4">Contact Page</h3>
            <input type="text" formControlName="username" class="form-control mt-2 mb-4" id="username" name="username" placeholder="Username" [(ngModel)]="username" required> 
                <div *ngIf="registerForm.get('username')?.invalid && (registerForm.get('username')?.dirty || registerForm.get('username')?.touched)"                
                    class="error-msg"> 
                    <span *ngIf="registerForm.get('username')?.errors['required']">Username is required</span> 
                    <span *ngIf="registerForm.get('username')?.errors['minlength']">Minimum 5 characters are required.</span> 
                </div>
    <input type="text" formControlName="email" class="form-control mt-2 mb-4" id="email" name="email" placeholder="Email" [(ngModel)]="email" required>
        <div *ngIf="registerForm.get('email')?.invalid&& (registerForm.get('email')?.dirty || registerForm.get('email')?.touched)" class="error-msg"> 
            <span *ngIf="registerForm.get('email')?.errors['required']">email is required</span> 
            <span *ngIf="registerForm.get('email')?.errors['maxlength']">Maximum 8 characters are required.</span> 
        </div>                      
    <input type="text" formControlName="contactno" class="form-control mt-2 mb-4" id="contactno" name="contactno" placeholder="Contact No" [(ngModel)]="contactno" required>
        <div *ngIf="registerForm.get('contactno')?.invalid&& (registerForm.get('contactno')?.dirty || registerForm.get('contactno')?.touched)" class="error-msg"> 
            <span *ngIf="registerForm.get('contactno')?.errors['required']">Contact is required</span> 
            <span *ngIf="registerForm.get('contactno')?.errors['maxlength']">Maximum 10 characters are required.</span> 
        </div> 

    <input type="text" formControlName="feedback" class="form-control mt-2" id="feedback" name="feedback" placeholder="write something ..." [(ngModel)]="feedback" required> 
                            
            <button 
            type="submit"
            [disabled]="registerForm.invalid"
            (click)="onSubmit()"  class="cta-btn btn btn-dark w-100 font-weight-bold mt-5"> Submit </button>
                    
    </form>
</div>


