<div class="container mt-5 mb-5">
    <img src="" width="100%">
    <h1 class="text-center">About</h1>

    <p>
        Towards the right hand side of the sink the refrigerator is located. When my designer designed my kitchen he advised me to change the refrigerator as it was too old and was not matching the look too. So I purchased a big double door steel colored refrigerator for my kitchen.
        <br/>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et, alias deleniti. At fuga, corporis nemo neque itaque eligendi ipsa nulla adipisci harum placeat voluptate quos, saepe, ad magni dolor impedit!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto qui vitae harum velit perferendis, et non, pariatur fugiat fugit minus dolorem placeat eius tempore, nulla reprehenderit autem! Voluptatem, veritatis earum.
        <br/>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus voluptatem architecto placeat ducimus dolore consectetur rem, labore vitae at molestias quasi sequi? Vel quae sequi dolores vitae impedit libero iure.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium cumque sequi eligendi, pariatur excepturi beatae eos quo, quis, enim velit necessitatibus nesciunt vero doloremque repudiandae perspiciatis quas laborum fugit fugiat?

    </p>
</div>
