<!-- <p>table works!</p> -->

<table class="container table table-bordered mt-5 text-dark">
    <thead>
      <tr>
        <th scope="col">S.No</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Contact No</th>
        <th scope="col">Message</th>
      </tr>
    </thead>
    <tbody> 
        <th scope="row">1</th>
        <td>{{ username }}</td>
        <td>{{ email }}</td>
        <td>{{ contactno }}</td>
        <td>{{ feedback }}</td>
     </tbody> 
   </table> 
